In [2]:
my_list =[]
for character in "word":
    my_list.append(character)

In [3]:
my_list

['w', 'o', 'r', 'd']

Same thing can be written with List Comprehensions notations:

In [4]:
my_list_with_comprehension = [character for character in "word"]

In [5]:
my_list_with_comprehension

['w', 'o', 'r', 'd']

### This is the second example:

In [6]:
my_list_2 = []
for number in range(0,20):
    my_list_2.append(number)

In [7]:
my_list_2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [8]:
my_list_2_with_comprehension = [number for number in range(0,20)]

In [9]:
my_list_2_with_comprehension

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

### This is the third example:

In [11]:
my_list_with_arithmetic_operations = []
for num in range(0,20):
    my_list_with_arithmetic_operations.append(num**2)

In [12]:
my_list_with_arithmetic_operations

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361]

In [13]:
my_list_with_arithmetic_operations_comprehensions = [ number **2 for number in range(0,20)]

In [15]:
my_list_with_arithmetic_operations_comprehensions

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361]

### This is the example of a list comprehension using if clause

In [16]:
my_list_if_comprehensions = [ number for number in range(0,20) if number %2 ==0]

In [17]:
my_list_if_comprehensions

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

### This is an example of a list comprehension using if else clause

In [18]:
my_list_if_else_comprehensions = [ number if number %2 == 0 else "it is an odd number" for number in range(0,20)]

In [19]:
my_list_if_else_comprehensions

[0,
 'it is an odd number',
 2,
 'it is an odd number',
 4,
 'it is an odd number',
 6,
 'it is an odd number',
 8,
 'it is an odd number',
 10,
 'it is an odd number',
 12,
 'it is an odd number',
 14,
 'it is an odd number',
 16,
 'it is an odd number',
 18,
 'it is an odd number']

### This is an example with nested lists

In [20]:
this_list_1 = [1,3,5]
this_list_2 = [2,4,6]
this_product_list =[]
for i in this_list_1:
    for j in this_list_2:
        this_product_list.append(i*j)

In [21]:
this_product_list

[2, 4, 6, 6, 12, 18, 10, 20, 30]

same thing can be written with list comprehensions:

In [22]:
this_list_3 = [1,3,5]
this_list_4 = [2,4,6]
this_list_comprehensions = [i*j for i in this_list_3 for j in this_list_4]

In [23]:
this_list_comprehensions

[2, 4, 6, 6, 12, 18, 10, 20, 30]